aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.7.0
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
awscli==1.33.9
bcrypt==4.0.1
boto3==1.34.109
botocore==1.34.127
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.5.1
cryptography==42.0.7
cssselect==1.2.0
cssutils==2.11.0
dataclasses-json==0.6.6
debugpy==1.8.1
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docutils==0.16
ecdsa==0.19.0
email_validator==2.1.1
emails==0.6
exceptiongroup==1.2.1
faiss-cpu==1.8.0
fastapi==0.109.2
filelock==3.14.0
frozenlist==1.4.1
greenlet==3.0.3
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.25.2
identify==2.5.36
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
langchain==0.2.0
langchain-community==0.2.4
langchain-core==0.2.1
langchain-openai==0.1.7
langchain-text-splitters==0.2.0
langchainhub==0.1.15
langgraph==0.0.55
langsmith==0.1.61
lxml==5.2.2
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.21.2
multidict==6.0.5
mypy==1.10.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
openai==1.30.1
orjson==3.10.3
packaging==23.2
passlib==1.7.4
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
premailer==3.10.0
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
pyasn1==0.6.0
pycparser==2.22
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.7
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.1
rsa==4.7.2
ruff==0.2.2
s3transfer==0.10.1
sentry-sdk==1.45.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.30
sqlmodel==0.0.16
starlette==0.36.3
tenacity==8.3.0
tiktoken==0.7.0
tomli==2.0.1
tqdm==4.66.4
types-passlib==1.7.7.20240327
types-pyasn1==0.6.0.20240402
types-python-jose==3.3.4.20240106
types-requests==2.32.0.20240521
typing-inspect==0.9.0
typing_extensions==4.11.0
ujson==5.9.0
urllib3==2.2.1
uuid6==2024.1.12
uvicorn==0.24.0.post1
uvloop==0.19.0
virtualenv==20.26.2
watchfiles==0.21.0
websockets==12.0
yarl==1.9.4
