files:
  "/etc/nginx/conf.d/myapp.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name memribox.com www.memribox.com;

          # Serve the frontend
          location / {
              root /var/www/frontend;
              try_files $uri /index.html;
          }

          # Proxy API requests to the backend
          location /api/ {
              proxy_pass http://127.0.0.1:8000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;

              # Logging
              access_log /var/log/nginx/api_access.log;
              error_log /var/log/nginx/api_error.log debug;
          }

          # Serve static files
          location /static/ {
              alias /var/www/frontend/static/;
          }

          # Proxy requests to /docs and /redoc to the backend
          location ~ ^/(docs|redoc)/ {
              proxy_pass http://127.0.0.1:8000;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;

              # Logging
              access_log /var/log/nginx/docs_access.log;
              error_log /var/log/nginx/docs_error.log debug;
          }
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"
